.edit-container{
    width: 100%;

    #go-back{
        width: 70%;
        margin: auto;
        padding-top: 2%;
        display: flex;
        justify-content: right;

            a{
                cursor: pointer;
                text-decoration: none;
                color: var(--secondary-text-color);
            }
    }
    
    .info-items{
        width: 40%;
        margin: auto;
        
        #message{
            padding-top: 3%;

            p{
                width: 50%;
                padding: 2%;
                border-radius: 10px;
                color: var(--main-text-color);
            }
            
            #error-msg{
                background-color:  rgba(128, 0, 0, 0.808);
                border: 2px solid rgb(168, 20, 20);

            }
            #success-msg{
                background-color:  rgba(39, 117, 39, 0.808);
                border: 2px solid rgb(39, 117, 39);

            }
            #no-changes-msg{
                background-color:  rgba(117, 83, 39, 0.808);
                border: 2px solid rgb(117, 83, 39);

            }
        
        }
        
        .input-items{
            width: 100%;
            margin: 5% auto;
            
            .input-item{
                width: 100%;
                margin-top: 2%;

                label{
                    display: block;
                }

                // #file-upload{
                //     position: absolute;
                //     top: 6.1%;
                //     left: 50%;
                //     transform: translate(-50%);
                //     z-index: -5;
                // }
                
                textarea,
                input{
                    background-color:  rgba(51,51,51,1);
                    width: 100%;
                    padding: 2%;
                    border: 2px solid rgb(61, 61, 61);
                    border-radius: 10px;
                    color: var(--main-text-color);
                    outline: none;
                }

                input[type="submit"]{
                    background-color: var(--secondary-text-color);
                    width: 20%;
                    border: none;
                }
                // input[type=file]{
                //     background-color:  transparent;
                //     padding: 0;
                //     border:none
                // }
                // input[type=file]::file-selector-button {
                //     background-color:  rgba(51,51,51,1);
                //     width: 100%;
                //     padding: 2%;
                //     border: 2px solid rgb(61, 61, 61);
                //     color: transparent;
                // }
                
            } //end input-item
        } // end input-item

        #danger{
            color: rgb(150,50,50);

            hr{
                border:1px solid rgb(150,50,50);
            }
        }
    } // end info-items

} // end edit container