.fullfill{
}

.edit-container{
    width: 100%;
    
    .info-items{
        width: 40%;
        margin: auto;
        
        .input-items{
            width: 100%;
            margin: 5% auto;
            
            .input-item{
                width: 100%;
                margin-top: 2%;

                label{
                    display: block;
                }

                // #file-upload{
                //     position: absolute;
                //     top: 6.1%;
                //     left: 50%;
                //     transform: translate(-50%);
                //     z-index: -5;
                // }
                
                textarea,
                input{
                    background-color:  rgba(51,51,51,1);
                    width: 100%;
                    padding: 2%;
                    border: 2px solid rgb(61, 61, 61);
                    border-radius: 10px;
                    color: var(--main-text-color);
                    outline: none;
                }

                input[type="submit"]{
                    background-color: var(--secondary-text-color);
                    width: 20%;
                    border: none;
                }
                // input[type=file]{
                //     background-color:  transparent;
                //     padding: 0;
                //     border:none
                // }
                // input[type=file]::file-selector-button {
                //     background-color:  rgba(51,51,51,1);
                //     width: 100%;
                //     padding: 2%;
                //     border: 2px solid rgb(61, 61, 61);
                //     color: transparent;
                // }
                
            } //end input-item
        } // end input-item

        #danger{
            color: rgba(201, 0, 0, 0.712);

            hr{
                border:1px solid rgba(201, 0, 0, 0.712);
            }
        }
    } // end info-items

} // end edit container