// #nav-container{
//     position: fixed;
//     top: 0;
//     width: 4%;
//     height: 100%;
//     background-color: #1a1b1be7;
//     display: flex;
//     flex-direction: row;
// }

// #nav-items{
//     height: 30%;
//     width: 100%;
//     margin: auto;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
// }

// #nav-item{
//     margin:auto;
//     list-style: none;
//     color:#b4b4b4
// }

// #welcome{
//     padding: 2%;
//     width: 100%;
//     display: flex;
//     flex-flow: column;
//     justify-content: center;
// }

// #welcome p{
//     text-align: center;
//     font-size: 4rem;
// }

// #welcome p span{
//     color: #fc6d26be;
// }
// #logout,
// #user{
//     position: absolute;
//     left: 50%;
//     transform: translate(-50%,0%);
// }

// #user{
//     top: 5%; 
//     color:#b4b4b4;
// }

// #logout{
//     bottom: 5%;
//     color: #fc6d26be;
// }

#feed-container{
    width: 50%;
    margin: auto;
}

#textarea-container{
    width: 70%;
    margin: auto;
}

textarea{
    width: 100%;
    border: 1px solid #b4b4b4;
}

#new-feed{
    border-radius: 10px;
    background-color: transparent;
    color:whitesmoke;
    padding: 1%;
    outline: none;
}

#feedBtn-controler{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#feedBtn-controler .fas{
    font-size: .9rem;
    color: #fc6d26be;
}

#feed-btn{
    width: 10%;
    border-radius: 10px;
    border: 1px solid #fc6d26be;
    background-color: #fc6d26be;
}

#feed-controler{
    width: 100%;
    margin-top: 7%;
}

#feed{
    border:1px solid #b4b4b4;
    border-radius: 10px;
    padding: 1%;
    margin: 2% 0;
    background-color: rgba(30, 31, 32, .5);
}

#feed-info h4 small{
    color: #fc6d26be;
}

#feed hr{
    border: none;
    border-top: 1px solid #b4b4b4;
    margin: 1% 0;
}

#feed-info span{
    font-size: .7rem;
}

#post-msg{
    padding: 1% 0;
}

#reactions{
    width: 12%;
    display: flex;
    justify-content: space-between;
}

.hide-comments{
    display: none;
}

#comments-container{
    width: 90%;
    margin: auto;
    border:1px solid #b4b4b4;
    border-radius: 10px;
    padding: 1%;
    background-color: rgba(30, 31, 32, .5);

}