#welcome{
    padding: 2%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    
    p{
        text-align: center;
        font-size: 4rem;
        
        span{
            color: var(--secondary-text-color);
        }
    }
} //end welcome

#feed-container {
    width: 50%;
    margin: auto;

    #textarea-container {
        width: 70%;
        margin: auto;

        textarea {
            width: 100%;
            border: 1px solid var(--main-text-color);
            border-radius: 10px;
            background-color: transparent;
            color: var(--main-text-color);
            padding: 1%;
            outline: none;
        }

        #feedBtn-controler {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 1%;

            #media{
                width: 20%;

                .fas {
                    width: 30%;
                    display: inline-flex;
                    flex-flow: column;
                    justify-content: space-between;
                    font-size: 1.3rem;
                    color: var(--secondary-text-color);
                }
            }


            #feed-btn {
                width: 10%;
                border-radius: 10px;
                border: 1px solid var(--secondary-text-color);
                background-color: var(--secondary-text-color);
            }

        } //end feedBtn-controler

    } //end textarea-container

    #feed-controler {
        width: 100%;
        margin-top: 7%;

        .feed {
            border-radius: 10px;
            padding: 1%;
            margin: 10% 0;
            background-color: rgba(30, 31, 32, .6);

            .feed-info {

                .post-header{
                    display: flex;
                    justify-content: space-between;

                    h4 {

                        a{
                            text-decoration: none;
                            
                            span {
    
                                color: var(--secondary-text-color);
                                font-size: .8rem;
                            }

                        }
                    }

                    span {
                        
                    }
                    
                } // post-header

            } //end feed-info

                hr {
                    border: none;
                    border-top: 1px solid rgba(51,51,51,1);
                    margin: 1% 0;
                }

            .feed-message {

                .post-msg {
                        padding: 1% 0;                    
                    }

                    .fa-heart,
                    .fa-comment{
                        font-size: 1.1rem;
                        font-weight: 100;

                            .comment-info{
                                position: absolute;
                                top: auto;
                                left: 50%;
                                transform: translate(-50%);
                                width: 40%;
                                border-radius: 10px;
                                padding: .5%;
                                background-color: var(--secondary-bg-color);
                                margin: 1% auto 0 auto;
    
                                .post-comments{
                                    font-size: 1rem;
                                    
                                    div{
                                        font-weight: 100;
                                        font-size: var(--middle-text-size);
                                        h4{
                                            width: 100%;
                                            display: flex;
                                            justify-content: space-between;
                                        }
    
                                        small{
                                            font-size: var(--small-text-size);
                                            font-weight: 100;
                                        }
    
                                        p{
                                            padding: .5% 0;
                                        }
                                    }
                                }
                                
                                input[type=text]{
                                    background-color: transparent;
                                    border: none;
                                    outline: none;
                                    color: var(--secondary-text-color);
                                    width: 90%;
                                    font-weight: 100;
                                }
                
                                .new-comment{
                                    width: 10%;
                                    padding: 0 1%;
                                    font-size: .8rem;
                                    cursor: pointer;
                                    font-weight: 400;
                                    color: #1e1f20;
                                    border-radius: 10px;
                                    border: 1px solid var(--secondary-text-color);
                                    background-color: var(--secondary-text-color);
                                }
    
                            } // comments-container
    
                    } //end fa-comment

            } //end feed-message
                
        } //end feed

        .hide-comments {
            display: none;
        }
    } //end feed-controler

} //feed-container

.liked{
    color:var(--secondary-text-color);
}

.not-liked{
    color:var(--main-text-color);
}