#nav-container{
    position: fixed;
    top: 0;
    width: 5%;
    height: 100%;
    background-color: #1a1b1be7;
    display: flex;
    flex-direction: row;
    z-index: 2;
    
    #nav-items{
        height: 40%;
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        #nav-item{
            margin:auto;
            list-style: none;
            color: var(--main-text-color);
            cursor: pointer;
        }
        
        #logout,
        #user{
            position: absolute;
            left: 50%;
            transform: translate(-50%,0%);
        }
        
        #user{
            top: 5%; 
            width: 50px;
            height: 50px;
            display: flex;
            border-radius: 50px;
            align-items: center;
            text-decoration: none;
            justify-content: center;
            color: var(--secondary-bg-color);
            background-color: var(--secondary-text-color);
            
            .user-icon{
                font-weight: 500;
            }

        }
        
        #logout{
            bottom: 5%;
            color: var(--secondary-text-color);
        }
    }
}

.search{
    left: -30%;
    width: 25%;
    height : 100%;
    margin-left: 5%;
    padding: 2%;
    position: fixed;
    background-color: rgba(30, 31, 32, .9);
    z-index: 1;

    .search-form{
        display: flex;

        #search-items{
            width: 100%;

            label{
                display: block;
                font-size: 1.5rem;
            }
        
            input{
                width: 100%;
                background-color:  rgba(51,51,51,1);
                width: 100%;
                padding: 3%;
                border: 2px solid rgb(61, 61, 61);
                border-radius: 10px;
                color: var(--main-text-color);
                outline: none;
            }
            
        }

        .fa-times{
            color: var(--secondary-text-color);
            cursor: pointer;
        }

    } //search-items

    .results{
        width: 100%;

        .input-result{
            display: flex;
            padding: 4%;
            align-items: center;

            h4{
                small{
                    a{
                        text-decoration: none;
                        color: var(--secondary-text-color);
                    }
                }
            }
        }
        hr{
            border: none;
            border-top: 1px solid rgba(51, 51, 51, 1);
        }
    } //end results
   
}

.fade{
    transform: translate(-150%,0);
}