#nav-container{
    position: fixed;
    top: 0;
    width: 4%;
    height: 100%;
    background-color: #1a1b1be7;
    display: flex;
    flex-direction: row;
    
    #nav-items{
        height: 30%;
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        #nav-item{
            margin:auto;
            list-style: none;
            color: var(--main-text-color);
        }
        
        #logout,
        #user{
            position: absolute;
            left: 50%;
            transform: translate(-50%,0%);
        }
        
        #user{
            top: 5%; 
            width: 50px;
            height: 50px;
            display: flex;
            border-radius: 50px;
            align-items: center;
            text-decoration: none;
            justify-content: center;
            color: var(--secondary-bg-color);
            background-color: var(--secondary-text-color);
            // border: 50px solid #c35924be;
            
            .user-icon{
                font-weight: 500;
            }

        }
        
        #logout{
            bottom: 5%;
            color: var(--secondary-text-color);
        }
    }
}
