@media all and (max-width: 1200px){

    #nav-container{
        position: fixed;
        top: 90%;
        left: 0;
        width: 100%;
        height: 10%;
        background-color: #1a1b1b;
        flex-direction: column;
        vertical-align: baseline;

        #nav-items{
            height: 30%;
            width: 60%;
            flex-direction: row;
            align-items: center;
            height: 100%;

            #logout{
                position: absolute;
                width: 10%;
                margin: auto;
                left: 10%;
                top: 25%;
            }

            #user{
                position: absolute;
                left: 90%;
                top: 50%;
                transform: translate(0,-50%);
            }
        }


        
       
    }
}