.container{
    width: 100%;
    // margin-top: 10%;
    display: flex;
    justify-content: center;
    
    .form{
        width: 25%;
        padding: 2%;
        display: flex;
        justify-content: center;
        // border: 1px solid #dadada;

        form{
            width: 100%;
            
            legend{
                text-align: center;
            }
            
            .input-controller{
                width: 100%;
                // height: 15%;
                margin: 2% auto;

                
                label{
                    padding-bottom: 1%;
                    display: block;
                    
                    input{
                        width: 100%;
                        background-color:  rgba(51,51,51,1);
                        padding: 3%;
                        border: 2px solid rgb(61, 61, 61);
                        border-radius: 10px;
                        color: var(--main-text-color);
                    }

                }
            } // end input-controller
            
            #submit-btn{
                display: flex;
                justify-content: center;

                .submit{
                    background-color: var(--secondary-text-color);
                    width: 20%;
                    border: none;
                    padding: 3%;
                    border-radius: 10px;

                    &:hover{
                        background-color: #1e1f20;
                        color: #dadada;
                        transition: .6s;
                    }
                }
                
                // .submit:hover{
                //     background-color: #1e1f20;
                //     color: #dadada;
                //     transition: .6s;
                // }
            } // end submit-btn
            
            #new-account{
                width: auto;
                color: #fc6d26be;
            }

            #member{
                width: auto;
                color: #fc6d26be;
            }

        } // end form

    } // end class form

} //end container

.login{
    transition: 1.3s;
}
.signup{
    position: absolute;
    top: 0;
    transition: 1.3s;
}

.hide{
    transform: translateY(-300%);
    // transition: 1.3s;
}

