* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #333333 0%, #1e1f20 80%);
  font-family: arial;
  color: #dadada;
}

legend {
  text-align: center;
}

.container {
  width: 100%;
  margin-top: 10%;
  display: flex;
  justify-content: center;
}

.form {
  width: 25%;
  padding: 2%;
  display: flex;
  justify-content: center;
  border: 1px solid #dadada;
}

.input-controler {
  padding: 3% 0;
}

label {
  padding-bottom: 1%;
}

.input-controler label input {
  padding: 0.5%;
  outline: none;
  background-color: #dadada;
  border: 8px solid #dadada;
  border-radius: 5px;
  width: 100%;
}

#submit-btn {
  display: flex;
  justify-content: center;
}

input[type=submit] {
  width: 50%;
  padding: 3%;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #dadada;
  background-color: #dadada;
}

input[type=submit]:hover {
  background-color: #1e1f20;
  color: #dadada;
  transition: 0.6s;
}

#new-account {
  width: 100%;
  text-align: center;
  color: #fc6d26be;
}

#member {
  width: auto;
  margin: auto;
  color: #fc6d26be;
}

.login {
  transition: 1.3s;
}

.singup {
  position: absolute;
  top: 0;
  transition: 1.3s;
}

#error {
  text-align: center;
}

.hide {
  transform: translateY(-300%);
  transition: 1.3s;
}

#welcome {
  padding: 2%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
#welcome p {
  text-align: center;
  font-size: 4rem;
}
#welcome p span {
  color: #fc6d26be;
}

#feed-container {
  width: 50%;
  margin: auto;
}
#feed-container #textarea-container {
  width: 70%;
  margin: auto;
}
#feed-container #textarea-container textarea {
  width: 100%;
  border: 1px solid #b4b4b4;
  border-radius: 10px;
  background-color: transparent;
  color: whitesmoke;
  padding: 1%;
  outline: none;
}
#feed-container #textarea-container #feedBtn-controler {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1%;
}
#feed-container #textarea-container #feedBtn-controler #media {
  width: 20%;
}
#feed-container #textarea-container #feedBtn-controler #media .fas {
  width: 30%;
  display: inline-flex;
  flex-flow: column;
  justify-content: space-between;
  font-size: 1.3rem;
  color: #fc6d26be;
}
#feed-container #textarea-container #feedBtn-controler #feed-btn {
  width: 10%;
  border-radius: 10px;
  border: 1px solid #fc6d26be;
  background-color: #fc6d26be;
}
#feed-container #feed-controler {
  width: 100%;
  margin-top: 7%;
}
#feed-container #feed-controler .feed {
  border: 1px solid #b4b4b4;
  border-radius: 10px;
  padding: 1%;
  margin: 10% 0;
  background-color: rgba(30, 31, 32, 0.5);
}
#feed-container #feed-controler .feed .feed-info h4 small {
  color: #fc6d26be;
}
#feed-container #feed-controler .feed .feed-info span {
  font-size: 0.7rem;
}
#feed-container #feed-controler .feed hr {
  border: none;
  border-top: 1px solid #b4b4b4;
  margin: 1% 0;
}
#feed-container #feed-controler .feed .feed-message .post-msg {
  padding: 1% 0;
}
#feed-container #feed-controler .feed .feed-message .fa-comment .comment-info {
  position: absolute;
  top: auto;
  left: 50%;
  transform: translate(-50%);
  width: 40%;
  border: 1px solid #b4b4b4;
  border-radius: 10px;
  padding: 0.5%;
  background-color: #1e1f20;
  margin: 1% auto 0 auto;
}
#feed-container #feed-controler .feed .feed-message .fa-comment .comment-info .post-comments div small {
  font-size: 0.6rem;
  font-weight: 100;
}
#feed-container #feed-controler .feed .feed-message .fa-comment .comment-info input[type=text] {
  background-color: transparent;
  border: none;
  outline: none;
  color: #fc6d26be;
  width: 90%;
  font-weight: 100;
}
#feed-container #feed-controler .feed .feed-message .fa-comment .comment-info .new-comment {
  width: 10%;
  padding: 0 1%;
  cursor: pointer;
  font-weight: 400;
  color: #1e1f20;
  border-radius: 10px;
  border: 1px solid #fc6d26be;
  background-color: #fc6d26be;
}
#feed-container #feed-controler .hide-comments {
  display: none;
}

.liked {
  color: #fc6d26be;
}

.not-liked {
  color: #b4b4b4;
}

#nav-container {
  position: fixed;
  top: 0;
  width: 4%;
  height: 100%;
  background-color: #1a1b1be7;
  display: flex;
  flex-direction: row;
}
#nav-container #nav-items {
  height: 30%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#nav-container #nav-items #nav-item {
  margin: auto;
  list-style: none;
  color: #b4b4b4;
}
#nav-container #nav-items #logout,
#nav-container #nav-items #user {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}
#nav-container #nav-items #user {
  top: 5%;
  color: #b4b4b4;
}
#nav-container #nav-items #logout {
  bottom: 5%;
  color: #fc6d26be;
}

@media all and (max-width: 1200px) {
  #nav-container {
    position: fixed;
    top: 94%;
    left: 0;
    width: 100%;
    height: 6%;
    background-color: #1a1b1b;
    flex-direction: column;
    vertical-align: baseline;
  }
  #nav-container #nav-items {
    height: 30%;
    width: 60%;
    flex-direction: row;
    align-items: center;
    height: 100%;
  }
  #nav-container #logout,
#nav-container #user {
    height: 100%;
  }
  #nav-container #user {
    width: 85%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-bottom: 0.8%;
  }
  #nav-container #logout {
    top: 0;
    width: 85%;
    display: flex;
    justify-content: start;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */