*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(51,51,51,1) 0%, rgba(30,31,32,1) 80%);
    font-family: arial;
    color: #dadada;
}

@import "import/index";
@import "import/homepage";
@import "import/navigation";